@tailwind base;
@tailwind components;
@tailwind utilities;

.try {
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  height: 500px;
  display: flex;
  place-content: center;
  place-items: center;
  margin: 0;
  padding: 0;
  perspective: 1000px;
  overflow: hidden;
  border: 2px solid red;
}
